@font-face {
    font-family: 'myFont';
    src: url('./Merriweather/Merriweather-Regular.ttf') format('truetype');
}

html * {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'myFont', sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
}

#sidebar {
    width: 30%;
    height: 100vh;
    background-color: #0f172a;

    display: flex;
    flex-direction: column;
    align-items: start;
}

#mainNav,
#projectsNav {
    padding: 10px;
    margin-left: 70px;
    gap: 10px;
}

#mainNav {
    border-bottom: 1px solid #9ca3af;
    margin-top: 30px;

}

#author {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.project {
    color: #60a5fa;
}

#content {
    width: 100%;
    display: flex;
    background-color: #bfdbfe;
}

header {
    background: #1c1917;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
    padding: 10px;
}

#projectTitle {
    padding: 10px;
    width: 20%;
    border-radius: 15px;
    text-align: center;
}
.todoCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 95%;
}

#projectTitle, 
.todoCard {
    background-color: #0f172a;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    box-shadow: -2px 0 black;
}

.itemLeft,
.itemRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type="checkbox"],
.itemRight:hover,
.project:hover,
#all:hover,
#finished:hover,
button:hover {
    cursor: pointer;
}

.desc {
    color: gray;
}

.info,
.trash {
    width: 20px;
    height: 20px;
    filter: invert(1);
    color: black;
    background: url(./images/magnify-expand.svg);
}

main {
    background-image: url("./images/wp5204110.webp");
    background-size: cover;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal {
    background-color: #1e3a8a;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 15px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.modal-header .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .modal-close {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 200ms ease-in-out;
    pointer-events: none;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

button {
    background: #1e3a8a;
}

input,
textarea,
select {
    color: black;
}

input {
    width: 25px;
    height: 25px;
}

.done {
    background: #60a5fa;
    text-decoration: line-through;
    opacity: 0.25;
    border-radius: 10px;
}